<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>AutomotiveTechnology</string>
		<key>Department</key>
		<string>Automotive Technology</string>
		<key>UpComing</key>
		<string>Stuff at a Price of More Stuff</string>
		<key>DepartmentInfo</key>
		<string>The Northwest Tech Automotive Technology program allows you to start with and develop the basic fundamentals before advancing to the necessary job skills and related work procedures needed to gain employment in the automotive industry. This progression will include the use of technical service manuals, testing equipment, electronic ignition systems, rear, front, and four-wheel drive, and power steering and brakes.

We are continually updating our curriculum to assure that you, our students, are able to work with the same tools and equipment found in the industry today. As advanced technology is introduced with new automobiles each year, electronics are used in brakes, transmission, steering systems, and a variety of other components. You will use the latest in computerized diagnostic devices and much more.

The shop training is set up in a very similar way to repair bays in an automotive dealership. We schedule customer work from the community so that the learning environment is hands-on for job training. You learn actual on-the-job procedures for trouble shooting, looking up parts, figuring a job sheet and relating with customers.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>BusinessTechnology</string>
		<key>Department</key>
		<string>Business Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Northwest Tech is transforming today’s students into tomorrow’s business leaders.

A degree from Northwest Tech in Business Administration provides you with practical and theoretical training through a broad range of business practices. You will grow personally and professionally as you develop the critical thinking, quantitative and computer skills needed by industry.

Your coursework will expose you to fields such as accounting, management, marketing, finance and entrepreneurship. Through your business and core general education classes, you will prepare yourself for immediate employment or for continued study at a four-year institution.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Carpentry</string>
		<key>Department</key>
		<string>Carpentry</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>At Northwest Tech Carpentry is a broad program where you combine various disciplines with work-based experience. As a Northwest Tech Maverick you ultimately build an entire house with your own two hands, becoming familiar with all phases of residential carpentry from the foundation to the roof.

Northwest Tech prepares you for employment the day you graduate. Our up-to-date curriculum transforms directly alongside the industry’s green building and energy efficient standards.

In only two years at Northwest Tech you will have the necessary job skills and related technical information require in the construction and cabinet-making trades. Upon completion of the program, you will enter the trade with a thorough and versatile understanding of the profession, as well as the opportunity to obtain a contractor’s license and/or advance to the level of master or journeyman tradesman.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>CollisionRepair</string>
		<key>Department</key>
		<string>Collision Repair</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>The Collision Repair program at Northwest Tech builds upon fundamentals learned early in your coursework to foster versatile, industry-ready skills by the time you graduate. We believe individuals grow through their own personal investigations; therefore our emphasis is on actual “hands-on” learning.

On our campus you will gain experience in major collision repair, color matching, wheel alignment, advanced welding and much more. But, best of all, your entire experience in our Collision Repair program is completed on the most modern equipment in the industry today.

Our curriculum is directly related to trade standards and employment opportunities. As repair methods change, our curriculum is continuously updated to provide you with instruction on the safe and proper use of the latest tools, equipment, products and procedures.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ComputerGraphicsTechnology</string>
		<key>Department</key>
		<string>Computer Graphics Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>The Computer Graphics Technology program is a comprehensive curriculum that merges art and technology into communication and commerce tools for businesses. Using a unique combination of real life projects, an on-the-job atmosphere and lab instruction. This program helps students acquire the necessary skills to succeed in the graphics industry.

By working in teams and individually, students gain the ability to evaluate their own and other’s work. To prepare them for work in different environments, students learn to work in a variety of industry software, state of the art tools and computers with confidence.

Students will learn to create new innovative ways to communicate ideas, enhance their image, and sell their products and services. This program will prepare students for the wide range of services in this field, from print design mediums such as advertisements, packaging, and publications, to electronic design mediums like web and video to meet this demand.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Cosmetology</string>
		<key>Department</key>
		<string>Cosmetology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Cosmetology is a glamorous, practical and immediately applicable technical program designed to teach the art of cosmetics for the skin, hair and nails as well as the proper application of products. Because the cosmetology field involves many different areas, you will be exposed to a wide variety of situations, including manicuring, facial massages, scalp treatments, permanent waving, hair tinting and bleaching and business salesmanship to name a few. Northwest Tech’s curriculum is directly related to the Kansas State Board of Cosmetology laws and licensing. And as styles, fashions, new regulations, and hour requirements change, our curriculum is continually updated.

In the first two months of the cosmetology program, the instructors will introduce you to various subjects and techniques through lecture, textbook material and demonstrations. During the remaining 1180 hours, or seven months of your program, you will perform practical services for customers and perfect your skills. You’ll gain practical experience working with the public in actual job situations. As well as hands-on experience in receptionist desk management, appointment scheduling, student and mannequin practice, daily customer appointments, dispensary procedures, and proper use of equipment. You keep a daily record of the number and type of services you provide, and this progress record will be submitted to the Kansas State Board of Cosmetology at the conclusion of the program as the official report of hours and services.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>CrimeSceneInvestigation</string>
		<key>Department</key>
		<string>Crime Scene Investigation</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>As the only CSI program in the state of Kansas besides the Wichita State University bachelor’s degree, Northwest Tech’s Crime Scene Investigation Technology program is an incredibly unique educational experience. Our program is hands on with technical courses comprising a majority of the coursework, which means you’ll learn by doing everyday.

Utilizing modern methods used in the field and laboratory for forensic identification, Northwest Tech’s Crime Scene Investigation Technology program will prepare you with competencies in the areas of locating, preserving, developing, collecting, analyzing and presenting physical evidence. The CSI Tech program will provide you with learning opportunities to develop academic, occupational and professional knowledge and skills required for job acquisition. Within your coursework, a combination of criminal investigation and forensic lab theories and practical applications will develop skills necessary for employment. As a graduate of the CSI Tech program you will earn an Associate of Applied Science degree.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>KansasInstituteOfDieselTechnology</string>
		<key>Department</key>
		<string>Kansas Institute of Diesel Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Diesel Technology is a practical and in-depth technical program designed to provide you with the skills necessary to successfully gain employment as a diesel technician. The majority of the program is devoted to training that is necessary to attain employment in a farm, industrial, or truck dealership. The curriculum is also structured to allow you to seek job opportunities in industrial/heavy equipment, general diesel repair or as a farm mechanic.

You are exposed to a wide variety of situations, including use of electromechanical testing equipment, diesel calibration instruments, and a variety of farm power machinery. You will study all phases of heavy-duty truck and tractor repair, including electrical systems, various transmissions, suspensions, braking, and other related areas. Instruction will also include complete engine overhaul, diesel, gasoline, and natural gas fuel systems, hydraulic systems and air-conditioning. In addition, the program offers courses in biodiesel technology.

As repair methods change, the curriculum is continually updated to provide instruction on the latest tools, equipment and new job procedures as well as instruction on the older models and methods. Learning includes both shop and classroom situations with the majority of time devoted to actual hands-on experience. Applied shop instruction involves individualized live work on customers’ truck and farm equipment.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ElectricalTechnology</string>
		<key>Department</key>
		<string>Electrical Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Electrical Technology is a program that provides instruction to develop basic electrician skills, technical knowledge and related occupational information to prepare you for initial employment in the electrical trade. The class will begin with the basic fundamentals of electricity and progress through all types of residential, commercial, and industrial wiring, including the most advanced solid state motor controls. Throughout the program, instruction will include class work, shop projects, and on-the-job service work.

The actual hands-on training is very essential because it allows you to learn by gaining job experience combined with the related technical information. Applied training will include off-campus service calls in motor control repairs, industrial maintenance and new or existing commercial/residential wiring. You also become familiar with various electrical systems through on-campus electrical maintenance.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>EngineeringAndDraftingTechnology</string>
		<key>Department</key>
		<string>Engineering and Drafting Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Engineering and Drafting Technology at Northwest Tech provides a well-balanced curriculum in drafting and related subjects by covering the four basic areas of mechanical, civil, architectural and computer-aided drafting.

You will develop necessary job skills and related technical information in an on-the-job atmosphere similar to an actual engineering firm, training on the same drafting boards, computers, cutting-edge technology, and software that industry uses. Mathematical applications are used throughout the various subjects and applied in actual job situations, in sharp contrast to the theoretical approach used in many academic post-secondary institutions.

You can be successful in Engineering and Drafting Technology whether you have previous drafting experience (high school or college) or no prior drafting background. Our faculty share many years of industry experience and work hard to help each student succeed in the field.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>MedicalAssistant</string>
		<key>Department</key>
		<string>Medical Assistant</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>The Medical Assistant program is designed to provide you with the necessary job skills and related technical information to work as an entry-level medical assistant in a medical facility. You learn to perform clerical functions such as: scheduling and receiving patients, obtaining and maintaining patient data, completing insurance forms, and arranging for hospital admission and laboratory services. Further, you learn medical transcription, telephone etiquette, billing, collection, and bookkeeping. You also learn the correct format for typing and keyboarding of letters, reports and manuscripts.

The clinical functions you learn to perform include: taking and recording vital signs and patient histories; performing height and weight measurements for infants through adults; screening for visual acuity and color vision acuity; assisting with examinations, treatments, and office surgery; collecting of specimens through venipuncture; and performing simple lab tests and electrocardiograms. You also learn about sterilization procedures, instruments and equipment, disposal procedures for contaminated supplies, patient preparation procedures for X-ray and laboratory examination, removing sutures, and performing basic first aid and CPR procedures.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>MobileAppAndGaming</string>
		<key>Department</key>
		<string>Mobile App and Gaming</string>
		<key>UpComing</key>
		<string>Stuff Will Be Happening</string>
		<key>DepartmentInfo</key>
		<string>Learn how to develop apps in the rapidly expanding iPhone and iPad market. The iOS architecture is one of the fastest growing technology opportunities in modern history. The training received from our Mobile App and Entertainment Development program will enable you to create apps and games for the iPhone, iPod Touch, and iPad and to build cross-platform, mobile web-apps that will run on nearly any modern smart-phone and tablet platform including iPhone, Android, Blackberry, Windows Mobile and more.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>NetworkTechnology</string>
		<key>Department</key>
		<string>Network Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>The Network Technology program at Northwest Tech can be your pathway into the ever growing, wide ranging and lucrative field of communications.

Northwest Tech’s Network Technology program offers you an in-depth look at all aspects of the telecommunications and networking field. With labs that are industry-equipped, our program is designed to put you at the leading edge of the technologies used in every aspect of this wide-ranging and ever-evolving field.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>PrecisionAgricultureTechnology</string>
		<key>Department</key>
		<string>Precision Agriculture Technology</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Precision Agriculture Technology is a comprehensive program that provides a solid background in the high-tech practices, equipment, and software being utilized in production agriculture today. Using a combination of classroom, shop, and field environments, students acquire the skills necessary to succeed in today’s competitive precision agriculture industry.

Students will learn about applying geospatial science principles and management zone concepts to crop production, soil science and fertility. The program offers hands-on experience using electromagnetic (EM) and electrical conductivity (EC) soil mapping, satellite imagery, remote sensing (Infrared/Thermal), Unmanned Aerial Systems (UAS), variable-rate irrigation management, and computer information technologies. Students will also become proficient users of Geographic Information Systems (GIS), farm management software, GPS data collectors, Real-time Kinematics (RTK), soil moisture probes, weather stations, farm security systems and asset management tools. Other focuses of the program include: installing tractor guidance systems, performing precision field operations, working with section control technologies, generating prescription maps and managing digital farm data. A heavy emphasis is put on professionalism, time management, and client support strategies.

This program will prepare students for a wide range of employment options, including: high-tech crop producer, tractor guidance specialist, agronomy technician, crop consultant, GIS/Imagery technician, UAV operator, VRI irrigation specialist, geospatial technician, EM/EC soils surveyor, precision equipment sales and support, AG business technician, custom applicator, and integrated solutions consultant.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>RespiratoryTherapy</string>
		<key>Department</key>
		<string>Respiratory Therapy</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Respiratory Therapy is the health care discipline that specializes in the promotion of optimum cardiopulmonary function and health. Respiratory therapists apply scientific principles to prevent, identify, and treat acute or chronic dysfunction of the cardiopulmonary system. Their knowledge of the scientific principles underlying cardiopulmonary physiology and pathophysiology, as well as biomedical engineering and technology, enable them to effectively assess, educate, and treat patients with cardiopulmonary disorders. Respiratory therapists are involved in many specialty areas such as: Adult Intensive Care; Neonatal and Pediatric ICU; Pulmonary Function Laboratory; Sleep Laboratory; Home Care; Rehabilitation; Ground and air critical care transport.

The Respiratory Therapy program at Northwest Tech is designed to provide you with the necessary skills and related technical information to work as an entry-level therapist in the medical field. The curriculum is directly related to career standards and employment opportunities. Instruction includes both lab and classroom situations with the emphasis on clinical components.</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Welding</string>
		<key>Department</key>
		<string>Welding</string>
		<key>UpComing</key>
		<string></string>
		<key>DepartmentInfo</key>
		<string>Northwest Tech delivers much more than a your typical classroom and book-learning experience — you will learn hands-on, acquiring essential skills and professional connections along the way.

Northwest Tech’s welding department presents unique opportunities for you, the student, by devoting the majority of its program to actual work-based experience, including in-shop training and on-the-job site training. Additionally, our curriculum is continually being updated to provide you with the latest training for the industry as technology and equipment advance.

Welding is designed to teach specific skills in all aspects of the welding trade, which include arc welding, oxyacetylene welding, TIG, MIG, brazing, and semi-automatic cutting. Other related areas of study include blueprint reading, job layout, shop math, hard surfacing (ARC as well as powder torch), and pipe welding. You will learn welding processes that allow you to work with mild steel, cast iron, brass, aluminum, stainless steel, and some alloy metals.

Northwest Tech offers you several welding program options: a two-semester work-based track where you can receive your associates degree or a Technical Certificate C; and an 18-week track specializing in pipe and plate welding where you can earn a Technical Certificate A.</string>
	</dict>
</array>
</plist>
